<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>eDeliverABOUT</title>
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="" th:href="@{/css/Navigation.css}" />
	<link rel="stylesheet" href="" th:href="@{/css/About.css}" />
</head>
<body>
	<nav th:replace="~{Navigation::navbar()}">	
	</nav>
	<div class="information">
		<h3>SWE Project :</h3>
		<h1>eDeliver app</h1>
		<h4>1000 N 4th St,</h4>
		<h4>Maharishi International University</h4>
		
	</div>
</body>
</html>